html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a, button, input, textarea, select {
  outline: none;
}

div, header, footer,
a, p, section, main, i, li,
span, input, textarea, button, ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Exo2-SemiBoldExpanded';
  src: local("Exo 2 Semi Bold Expanded"), local("Exo2 SemiBoldExpanded");
  src: url("../fonts/exo2_semiboldexpanded/Exo2-SemiBoldExpanded.eot?#iefix") format("embedded-opentype"), url("../fonts/exo2_semiboldexpanded/Exo2-SemiBoldExpanded.otf") format("opentype"), url("../fonts/exo2_semiboldexpanded/Exo2-SemiBoldExpanded.woff") format("woff"), url("../fonts/exo2_semiboldexpanded/Exo2-SemiBoldExpanded.ttf") format("truetype"), url("../fonts/exo2_semiboldexpanded/Exo2-SemiBoldExpanded.svg#Exo2-SemiBoldExpanded") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: local("Proxima Nova Black"), local("ProximaNova Black");
  src: url("ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova_black/ProximaNova-Black.otf") format("opentype"), url("../fonts/proximanova_black/ProximaNova-Black.woff") format("woff"), url("../fonts/proximanova_black/ProximaNova-Black.ttf") format("truetype"), url("../fonts/proximanova_black/ProximaNova-Black.svg#ProximaNova-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Segoe UI", "Arial", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  background: #ffffff;
}

.container {
  max-width: 1271px;
  margin: auto;
  *zoom: 1;
}
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.site-header .container {
  position: relative;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../img/sprite.png") no-repeat;
}

.site-logo {
  font-family: "Exo2-SemiBoldExpanded", "Arial", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25.67px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
  color: #686b6d;
  display: block;
  margin-top: 11px;
  margin-left: 6px;
  float: left;
}
.site-logo__ua {
  font-family: "Proxima Nova Black", "Arial", "Open Sans", "Helvetica Neue", sans-serif;
  color: #fdd835;
  display: inline-block;
  margin-right: 12px;
  font-size: 27px;
}
.site-logo__ua:first-letter {
  color: #2196f3;
}

.catalogue-menu {
  float: left;
}

.catalogue-menu__btn {
  display: inline-block;
  margin-left: 3px;
  width: 30px;
  height: 61px;
  padding-top: 19px;
  padding-left: 8px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.catalogue-menu__btn:hover, .catalogue-menu__btn.active {
  background: #ebebeb;
}

.icon--catalogue-menu {
  width: 14px;
  height: 10px;
  background-position: -37px 0;
}

.catalogue-menu__list {
  display: none;
  position: absolute;
  left: 135px;
  z-index: 9999;
  background: #eceff1;
  top: 61px;
  width: 315px;
  padding: 36px 0 18px 63px;
}
.catalogue-menu__list a {
  font-size: 24.58px;
  color: #000;
  text-decoration: none;
  display: block;
  padding-bottom: 24px;
  position: relative;
}
.catalogue-menu__list.active {
  display: block;
}

.catalogue-menu__list__item:hover .catalogue-menu__list__sub-one {
  display: block;
}

.catalogue-menu__list__item > a:after,
.catalogue-menu__list__sub-one__item > a:after {
  content: '';
  display: none;
  position: absolute;
  width: 16px;
  height: 20px;
  top: 6px;
  right: 0;
  background: url("../img/sprite.png") no-repeat;
  background-position: -220px 0;
}
.catalogue-menu__list__item:hover > a:after,
.catalogue-menu__list__sub-one__item:hover > a:after {
  display: inline-block;
}

.catalogue-menu__list__sub-one__item > a:after {
  top: 4px;
  background-position: -236px 0;
}
.catalogue-menu__list__sub-one__item a {
  font-size: 20px;
  padding-bottom: 18px;
}

.catalogue-menu__list__sub-one__item:hover .catalogue-menu__list__sub-two {
  display: block;
}

.catalogue-menu__list__sub-one {
  display: none;
  position: absolute;
  left: 315px;
  top: 0;
  width: 285px;
  padding: 38px 0 26px 54px;
  background: #cfd8dc;
}

.catalogue-menu__list__sub-two {
  display: none;
  position: absolute;
  top: 0;
  left: 285px;
  width: 210px;
  background: #b0bec5;
  padding: 38px 0 18px 40px;
}

.catalogue-menu__list__sub-two__item a {
  font-size: 20px;
  padding-bottom: 18px;
}

.primary-nav {
  padding-top: 17px;
  margin-left: 18.41%;
  float: left;
}

.primary-nav__list {
  *zoom: 1;
}
.primary-nav__list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.primary-nav__list__item {
  float: left;
  margin-left: 62px;
}
.primary-nav__list__item:first-child {
  margin-left: 0;
}
.primary-nav__list__item:last-child {
  margin-left: 50px;
}
.primary-nav__list__item a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #8c989e;
}
.primary-nav__list__item a:hover {
  text-decoration: underline;
}

.mobile-menu-btn {
  display: none;
  float: right;
  height: 42px;
  padding: 14px 10px;
  border: none;
  border-right: 1px solid #eceff1;
  background: #ffffff;
  cursor: pointer;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media (max-width: 920px) {
  .mobile-menu-btn {
    display: block;
  }
}
.mobile-menu-btn:hover, .mobile-menu-btn.active {
  background: #546e7a;
}
.mobile-menu-btn:hover span, .mobile-menu-btn.active span {
  background: #ffffff;
}
.mobile-menu-btn:hover span:after, .mobile-menu-btn:hover span:before, .mobile-menu-btn.active span:after, .mobile-menu-btn.active span:before {
  background: #ffffff;
}
.mobile-menu-btn.active span {
  background: transparent;
}
.mobile-menu-btn.active span:before {
  top: 0;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mobile-menu-btn.active span:after {
  bottom: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.mobile-menu-btn span {
  display: block;
  width: 27px;
  height: 3px;
  background: #f4511e;
  position: relative;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.mobile-menu-btn span:after, .mobile-menu-btn span:before {
  content: '';
  display: block;
  width: 27px;
  height: 3px;
  background: #f4511e;
  position: absolute;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.mobile-menu-btn span:before {
  top: -10px;
}
.mobile-menu-btn span:after {
  bottom: -10px;
}

.user-profile-links {
  float: right;
  margin-right: 32px;
  margin-top: 17px;
  *zoom: 1;
}
.user-profile-links:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.user-profile-links__item {
  float: left;
  margin-left: 40px;
}
.user-profile-links__item:first-child {
  margin: 0;
}
.user-profile-links__item:first-child a {
  font-size: 12.75px;
}
.user-profile-links__item a {
  color: #637a85;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
.user-profile-links__item a:hover {
  text-decoration: underline;
  color: #546e7a;
}

.icon--user-profile {
  width: 17px;
  height: 17px;
  background-position: 0 0;
  margin-right: 8px;
}

.icon--user-collection {
  width: 19px;
  height: 20px;
  background-position: -17px 0;
  margin-right: 11px;
}

.lang-switcher {
  float: right;
  padding-top: 22px;
  *zoom: 1;
}
.lang-switcher:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.lang-switcher .lang-switcher__item {
  float: left;
  border-left: 2px solid #bbc4ca;
  padding: 0 4px;
}
.lang-switcher .lang-switcher__item:first-child {
  border: none;
  padding-left: 0;
}
.lang-switcher .lang-switcher__item:last-child {
  padding-right: 0;
}
.lang-switcher .lang-switcher__item a {
  font-size: 14px;
  line-height: 16px;
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: #bbc4ca;
}
.lang-switcher .lang-switcher__item a:hover {
  text-decoration: underline;
}
.lang-switcher .lang-switcher__item--active a {
  color: #546e7a;
}

.catalogue-search {
  position: relative;
  background: #eceff1;
}

.catalogue-search__slider {
  position: relative;
}

.catalogue-search__slider__slide img {
  max-width: 100%;
  display: block;
  margin: auto;
}

.catalogue-search__slider__controls {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  bottom: 26px;
}
.catalogue-search__slider__controls span {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  margin-left: 7px;
  background: #ffffff;
  cursor: pointer;
  border: none;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.catalogue-search__slider__controls span.active {
  border: 3px solid #ffffff;
  background: transparent;
  width: 19px;
  height: 19px;
}
.catalogue-search__slider__controls span:first-child {
  margin: 0;
}
.catalogue-search__slider__controls span:last-child {
  margin-left: 12px;
}

.catalogue-search__search-block {
  width: 522px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 90px;
}
.catalogue-search__search-block--blog {
  bottom: 68px;
}

.catalogue-search__search-block__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22.65px;
  line-height: 60px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  height: 60px;
}

.catalogue-search__search-block__form {
  *zoom: 1;
}
.catalogue-search__search-block__form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.catalogue-search__search-block__form input[type="text"] {
  display: block;
  float: left;
  border: none;
  width: 480px;
  height: 42px;
  padding: 0 18px;
  background: #ffffff;
  font-size: 20.39px;
  letter-spacing: -0.01748em;
  color: #546e7a;
}
.catalogue-search__search-block__form button[type="submit"] {
  display: block;
  width: 42px;
  height: 42px;
  background: #8d9598;
  border: none;
  cursor: pointer;
}
.catalogue-search__search-block__form button[type="submit"]:hover {
  background: #546e7a;
}

.catalogue-search__icon {
  display: inline-block;
  margin-top: 3px;
  fill: #ffffff;
  width: 23px;
  height: 23px;
}

.icon--search-btn {
  width: 23px;
  height: 23px;
  background-position: -51px 0;
}

.categories {
  margin-bottom: 52px;
}
.goods-page .categories {
  margin-bottom: 80px;
}

.categories__description {
  padding-top: 48px;
  color: #2e2e2e;
  text-align: center;
  margin-bottom: 45px;
}
.categories__description p {
  margin-bottom: 21px;
}

.categories__row {
  margin-bottom: 13px;
}

.categories__tabs-btns {
  *zoom: 1;
}
.categories__tabs-btns:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.categories__tabs-btns .icon {
  vertical-align: top;
}
.categories__tabs-btns .categories__tabs-btn {
  float: left;
  width: 24.232887%;
  margin-left: 1.02281%;
}
.categories__tabs-btns .categories__tabs-btn:first-child {
  margin-left: 0;
}
.categories__tabs-btns .categories__tabs-btn.active a {
  background: #ffffff;
}
.categories__tabs-btns .categories__tabs-btn a {
  display: block;
  position: relative;
  background: #eceff1;
  color: #36464d;
  font-size: 24.51px;
  height: 90px;
  text-decoration: none;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.categories__tabs-btns .categories__tabs-btn a:hover {
  background: #546e7a;
  color: #ffffff;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--hygiene {
  background-position: 0 -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--clothes {
  background-position: -93px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--shoes {
  background-position: -186px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--bags {
  background-position: -279px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--dishes {
  background-position: -372px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--makeup {
  background-position: -465px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--for-kids {
  background-position: -558px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--food {
  background-position: -651px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--drinks {
  background-position: -744px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--figgery {
  background-position: -837px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--jewelry {
  background-position: -930px -113px;
}
.categories__tabs-btns .categories__tabs-btn a:hover .icon--other {
  background-position: -1023px -113px;
}
.categories__tabs-btns .categories__tabs-btn a span {
  text-align: center;
  position: absolute;
  top: 32px;
  right: 39px;
  display: block;
  float: right;
  width: 174px;
  line-height: 25px;
}
.categories__tabs-btns .categories__tabs-btn a span.two {
  top: 18px;
}

.icon--hygiene,
.icon--clothes,
.icon--shoes,
.icon--bags,
.icon--dishes,
.icon--makeup,
.icon--for-kids,
.icon--food,
.icon--drinks,
.icon--figgery,
.icon--jewelry,
.icon--other {
  width: 93px;
  height: 90px;
}

.icon--hygiene {
  background-position: 0 -23px;
}

.icon--clothes {
  background-position: -93px -23px;
}

.icon--shoes {
  background-position: -186px -23px;
}

.icon--bags {
  background-position: -279px -23px;
}

.icon--dishes {
  background-position: -372px -23px;
}

.icon--makeup {
  background-position: -465px -23px;
}

.icon--for-kids {
  background-position: -558px -23px;
}

.icon--food {
  background-position: -651px -23px;
}

.icon--drinks {
  background-position: -744px -23px;
}

.icon--figgery {
  background-position: -837px -23px;
}

.icon--jewelry {
  background-position: -930px -23px;
}

.icon--other {
  background-position: -1023px -23px;
}

.categories__tab {
  display: none;
  *zoom: 1;
}
.categories__tab.active {
  display: block;
}
.categories__tab .tab-cell {
  padding: 42px 0 0 47px;
}
.categories__tab .tab-cell:first-child {
  padding: 42px 0 0 42px;
}
.categories__tab:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.categories__tab a {
  text-decoration: none;
  color: #36464d;
}
.categories__tab a:hover {
  text-decoration: underline;
}
.categories__tab h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 17px;
}
.categories__tab h2.title-uppercase {
  text-transform: uppercase;
}
.categories__tab ul {
  margin-bottom: 42px;
}
.categories__tab ul:last-child {
  margin-bottom: 33px;
}
.categories__tab li {
  margin-bottom: 12.5px;
}
.categories__tab li:before {
  content: '-';
  display: inline-block;
  margin-right: 10px;
}

.tab-cell {
  float: left;
  width: 24.232887%;
  margin-left: 1%;
}
.tab-cell:first-child {
  margin-left: 0;
}

.dropbox {
  padding-top: 11px;
}
.dropbox:first-child {
  margin-top: 39px;
}
.dropbox:last-child {
  margin-bottom: 28px;
}
.dropbox h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}
.dropbox ul {
  margin-bottom: 18px !important;
  *zoom: 1;
}
.dropbox ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.dropbox a {
  text-decoration: none;
  color: #36464d;
}
.dropbox a:hover {
  text-decoration: underline;
}
.dropbox .icon--dropbox {
  width: 12px;
  height: 9px;
  background-position: -74px 0;
  margin-left: 15px;
}
.dropbox.dropped h3 {
  margin-bottom: 17px;
}
.dropbox.dropped .icon--dropbox {
  background-position: -86px 0;
}

.goods {
  margin-bottom: 89px;
}
.goods-page .goods {
  margin-bottom: 50px;
}

.goods__header {
  background: #eceff1;
  color: #36464d;
  font-weight: 600;
  *zoom: 1;
}
.goods__header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.goods__title {
  float: left;
  width: 321px;
  font-size: 23px;
  line-height: 32px;
  text-transform: uppercase;
}

.goods__sort-options {
  padding-top: 4px;
  *zoom: 1;
}
.goods__sort-options:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.goods__sort-options__wrapper {
  float: left;
  display: inline-block;
}

.goods__sort-options__option {
  display: inline-block;
  position: relative;
  margin-left: 2px;
  margin-right: 43px;
}
.goods__sort-options__option:after {
  content: '';
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 12px;
  height: 9px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -74px 0;
  pointer-events: none;
}
.goods__sort-options__option select {
  display: inline-block;
  border: none;
  color: #36464d;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  width: 194px;
  height: 20px;
  margin: 0;
  padding-left: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.goods__catalogue__breadcrumbs {
  margin-bottom: 3px;
  *zoom: 1;
}
.goods__catalogue__breadcrumbs:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.goods__catalogue__breadcrumbs li {
  float: left;
  padding: 12px 0;
}
.goods__catalogue__breadcrumbs li:before {
  content: '>';
  display: inline-block;
  margin: 0 5px;
  color: #878787;
}
.goods__catalogue__breadcrumbs li:first-child:before {
  content: '';
  display: none;
}
.goods__catalogue__breadcrumbs a {
  color: #878787;
  font-size: 14px;
  text-decoration: none;
}
.goods__catalogue__breadcrumbs a:hover {
  text-decoration: underline;
}

.goods__settings,
.goods__catalogue {
  float: left;
}

.goods__settings {
  width: 25.2557%;
}

.goods__catalogue {
  width: 74.7443%;
  *zoom: 1;
}
.goods__catalogue:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.goods__container {
  *zoom: 1;
}
.goods__container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.good__card {
  padding: 5px;
  display: inline-block;
  text-align: center;
}
.good__card:hover {
  background: #f5f7f8;
}
.good__card--margin {
  margin-bottom: 43px;
}

.good__card__last .good__manufacturer {
  margin-bottom: 42px;
}

.good__photo {
  position: relative;
  margin-bottom: 14px;
}
.good__photo img {
  display: block;
  border: 1px solid #eceff1;
  width: 245px;
  height: 245px;
}

.icon--show-preview {
  display: none;
  position: absolute;
  top: 113px;
  left: 103px;
  width: 37px;
  height: 37px;
  background-position: 0 -223px;
}

.good__image:hover .icon--show-preview {
  display: block;
}

.good__title {
  color: #20272a;
  font-size: 18.24px;
  text-align: center;
  margin-bottom: 4px;
  display: inline-block;
  max-width: 240px;
}

.good__manufacturer {
  display: block;
  text-align: center;
  font-size: 13.68px;
  font-weight: 600;
  color: #798083;
  margin-bottom: 21px;
}

.good__price {
  color: #1c313b;
  font-size: 19.03px;
  margin-left: 13px;
  margin-top: 3px;
  display: inline-block;
  float: left;
}

.good__btn {
  cursor: pointer;
  border: none;
  background: #9faab2;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 18px;
  display: inline-block;
  float: right;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.good__btn:hover {
  background: #546e7a;
}

.good__to-favourite {
  margin-right: 11px;
  margin-bottom: 20px;
}

.good__photo__tag {
  display: none;
  position: absolute;
  color: #ffffff;
  background: #ffb74d;
  top: 20px;
  left: 1px;
  padding: 4px 9px;
}
.good__photo__tag.show {
  display: block;
}

.goods__wrapper {
  width: 33.33333%;
  float: left;
  *zoom: 1;
}
.goods__wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.goods__wrapper--center {
  text-align: center;
}
.goods__wrapper--right .good__card {
  float: right;
}

.goods__settings {
  color: #36464d;
  padding: 35px 0 35px 41px;
}
.goods__settings h3 {
  font-weight: 700;
  font-size: 18px;
}
.goods__settings .dropbox {
  margin-bottom: 47px;
}
.goods__settings .dropbox h3 {
  margin-bottom: 19px;
  font-weight: 700;
}
.goods__settings .dropbox ul {
  padding-left: 5px;
}
.goods__settings .dropbox li {
  margin-bottom: 2px;
}

.checkbox {
  font-size: 13px;
  cursor: pointer;
}
.checkbox .icon--chekbox {
  width: 10px;
  height: 10px;
  border: 1px solid #889299;
  background-position: 1000px 0;
  vertical-align: baseline;
  cursor: pointer;
}
.checkbox span {
  display: inline-block;
  margin-top: 2px;
  margin-left: 12px;
  cursor: pointer;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + label .icon--chekbox {
  background-position: -98px 0;
}

.price-range {
  position: relative;
  margin-top: 21px;
  height: 50px;
  margin-bottom: 24px;
  width: 232px;
}

.price-range__line,
.price-range__line--fill {
  height: 4px;
  position: absolute;
  top: 4px;
  width: 100%;
}

.price-range__line {
  background: #eceff1;
}

.price-range__line--fill {
  background: #546e7a;
  width: 147px;
  left: 34px;
}

.price-range__thumb--first,
.price-range__thumb--second {
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  background-position: -108px 0;
  width: 8px;
  height: 12px;
  top: 0;
}

.price-range__thumb--first {
  left: 34px;
}

.price-range__thumb--second {
  right: 51px;
}

.price-range__price--first,
.price-range__price--second {
  position: absolute;
  top: 20px;
  font-size: 14px;
}

.price-range__price--first {
  left: 23px;
}

.price-range__price--second {
  right: 34px;
}

.pagination {
  margin: 35px 0 0 0px;
  *zoom: 1;
}
.pagination:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.pagination li {
  float: left;
}

.first-page,
.prev-page,
.next-page,
.last-page {
  margin-left: 4px;
}
.first-page a,
.prev-page a,
.next-page a,
.last-page a {
  width: 24px;
  height: 24px;
  display: block;
  background: #9faab2 url("../img/sprite.png") no-repeat;
  background-position: -116px 0;
}

.pagination li {
  margin-right: 7.5px;
  text-align: center;
  width: 24px;
}
.pagination a {
  font-size: 14px;
  color: #36464d;
  text-decoration: none;
}
.pagination a:hover {
  text-decoration: underline;
}

.first-page {
  margin-left: 0;
}

.prev-page {
  margin-right: 14px;
}
.prev-page a {
  background-position: -140px 0;
}

.next-page {
  margin-left: 14px;
}
.next-page a {
  background-position: -164px 0;
}

.last-page a {
  background-position: -188px 0;
}

.testimonials {
  border-top: 2px solid #eceff1;
  border-bottom: 2px solid #eceff1;
}

.testimonials__slider {
  position: relative;
  padding: 117px 0 34px 0;
}

.testimonials__slider__slide {
  max-width: 1153px;
  margin: auto;
  *zoom: 1;
}
.testimonials__slider__slide:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.testimonials__slider__slide .photo, .testimonials__slider__slide .text {
  float: left;
}
.testimonials__slider__slide .photo {
  width: 22.5%;
  padding-top: 2px;
}
.testimonials__slider__slide .photo img {
  max-width: 100%;
}
.testimonials__slider__slide .text {
  width: 77.5%;
  padding: 0 3px;
}
.testimonials__slider__slide .title {
  font-size: 24.2px;
  color: #546e7a;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0077em;
  margin-bottom: 10px;
}
.testimonials__slider__slide .name {
  font-size: 21.41px;
  letter-spacing: 0.0068em;
  color: #546e7a;
  margin-bottom: 18px;
}
.testimonials__slider__slide p {
  font-size: 17px;
  color: #2b2e2f;
  letter-spacing: 0.0021em;
}
.testimonials__slider__slide b {
  font-weight: 600;
  color: #1c3845;
}
.testimonials__slider__slide i {
  font-style: italic;
}
.testimonials__slider__slide .read {
  margin-top: 43px;
  display: inline-block;
  font-size: 11.59px;
  color: #ffffff;
  background: #c3c4c5;
  text-decoration: none;
  padding: 0 10px 0 12px;
}
.testimonials__slider__slide .read:after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -212px 0;
  width: 8px;
  height: 6px;
}

.testimonials__slider__controls {
  margin-top: 50px;
  text-align: center;
}
.testimonials__slider__controls span {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #eceff1;
  margin-right: 6px;
  vertical-align: middle;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.testimonials__slider__controls span:first-child {
  margin-left: 9px;
}
.testimonials__slider__controls span.active {
  width: 19px;
  height: 19px;
  background: #ffffff;
  border: 3px solid #eceff1;
}

.testimonials__slider__button {
  position: absolute;
  display: block;
  width: 13px;
  height: 65px;
  top: 195px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -37px -223px;
}

.testimonials__slider__button--prev {
  left: 4px;
}

.testimonials__slider__button--next {
  right: 4px;
  background-position: -50px -223px;
}

.manufacturers__title {
  padding-top: 58px;
  text-align: center;
  font-size: 16.63px;
  text-transform: uppercase;
  font-weight: 600;
  color: #546e7a;
  letter-spacing: 0.0077em;
  margin-bottom: 19px;
}
.goods-page .manufacturers__title {
  padding-top: 73px;
}

.manufacturers__logos {
  background: #f5f7f8;
}

.manufacturers__logos__list {
  padding-top: 17px;
  padding-bottom: 13px;
  *zoom: 1;
}
.manufacturers__logos__list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.manufacturers__logos__list li {
  float: left;
}
.manufacturers__logos__list li a {
  display: inline-block;
}
.manufacturers__logos__list li a:hover {
  background-color: #ffffff;
}
.manufacturers__logos__list li a i {
  display: block;
  background: url("../img/manufacturers.png") no-repeat;
}
.manufacturers__logos__list .emttonmodern {
  width: 23.45%;
}
.manufacturers__logos__list .emttonmodern a {
  padding: 34px 18px 26px 18px;
    font-family: impact;
    text-decoration: none;
    color: gray;
    font-size: 30px;
}
.manufacturers__logos__list .emttonmodern a i {
  width: 246px;
  height: 51px;
}
.manufacturers__logos__list .emttonmodern a:hover i {
  background-position: 0 -75px;
}
.manufacturers__logos__list .nenka {
  width: 18.3%;
}
.manufacturers__logos__list .nenka a {
  padding: 44px 34px 38px 37px;
}
.manufacturers__logos__list .nenka a i {
  width: 144px;
  height: 29px;
  background-position: -246px 0;
}
.manufacturers__logos__list .nenka a:hover i {
  background-position: -246px -75px;
}
.manufacturers__logos__list .raslov {
  width: 17.5%;
}
.manufacturers__logos__list .raslov a {
  padding: 19px 13px 30px 13px;
}
.manufacturers__logos__list .raslov a i {
  width: 179px;
  height: 62px;
  background-position: -390px 0;
}
.manufacturers__logos__list .raslov a:hover i {
  background-position: -390px -75px;
}
.manufacturers__logos__list .sem {
  width: 13.4%;
}
.manufacturers__logos__list .sem a {
  padding: 11px 44px 25px 44px;
}
.manufacturers__logos__list .sem a i {
  width: 63px;
  height: 75px;
  background-position: -569px 0;
}
.manufacturers__logos__list .sem a:hover i {
  background-position: -569px -75px;
}
.manufacturers__logos__list .tago {
  width: 11.4%;
}
.manufacturers__logos__list .tago a {
  padding: 36px 13px 34px 13px;
}
.manufacturers__logos__list .tago a i {
  width: 100px;
  height: 41px;
  background-position: -632px 0;
}
.manufacturers__logos__list .tago a:hover i {
  background-position: -632px -75px;
}
.manufacturers__logos__list .koroli {
  width: 15.95%;
}
.manufacturers__logos__list .koroli a {
  padding: 38px 32px 37px 32px;
}
.manufacturers__logos__list .koroli a i {
  width: 128px;
  height: 36px;
  background-position: -732px 0;
}
.manufacturers__logos__list .koroli a:hover i {
  background-position: -732px -75px;
}

.blog {
  border-top: 2px solid #eceff1;
  padding-top: 36px;
}

.blog__title {
  text-align: center;
  color: #717d83;
  font-size: 24.58px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.blog__posts {
  *zoom: 1;
}
.blog__posts:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.blog__posts__column {
  width: 25%;
  padding-right: 44px;
  float: left;
}
.blog__posts__column--2 {
  padding: 0 30px 0 12px;
}
.blog__posts__column--3 {
  padding: 0 12px 0 29px;
}
.blog__posts__column--4 {
  padding: 0 0 0 42px;
}

.blog__post {
  color: #898989;
  margin-bottom: 62px;
}

.blog__post__cover {
  max-width: 100%;
  margin-bottom: 19px;
}

.blog__post__title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 16px;
}

.blog__post__text {
  font-size: 14px;
  line-height: 19px;
}

.blog__post__permalink {
  font-size: 15px;
  color: #364351;
  display: inline-block;
  text-decoration: none;
  margin-left: 16px;
}
.blog__post__permalink:hover {
  text-decoration: underline;
}

@-moz-keyframes preloading {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes preloading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes preloading {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.blog__loading {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 106px;
}
.blog__loading img {
  -moz-animation: preloading 2000ms infinite linear;
  -webkit-animation: preloading 2000ms infinite linear;
  animation: preloading 2000ms infinite linear;
}

.good-block {
  padding-top: 15px;
}

.good-block__wrapper {
  padding-top: 13px;
  padding-bottom: 16px;
  *zoom: 1;
}
.good-block__wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.good-block__info,
.good-block__prev {
  float: left;
}

.good-block__prev {
  position: relative;
  width: 58.22%;
  *zoom: 1;
}
.good-block__prev:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.good-block__prev img {
  display: block;
  max-width: 100%;
}

.good-block__prev__photos,
.good-block__prev__main {
  float: left;
  position: relative;
}

.good-block__prev__photos {
  width: 15%;
}
.good-block__prev__photos li {
  margin-bottom: 14px;
}
.good-block__prev__photos img {
  border: 1px solid #eceff1;
  margin-left: 14px;
}

.good-block__prev__main {
  border: 1px solid #eceff1;
  width: 85%;
}

.good-block__prev__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1px;
  padding-bottom: 1px;
  *zoom: 1;
}
.good-block__prev__controls:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.good-block__prev__btn {
  background: #eceff1 url("../img/sprite.png") no-repeat;
  background-position: -321px -223px;
  width: 44px;
  height: 44px;
  border: none;
  display: block;
  float: left;
  cursor: pointer;
  margin-left: 8px;
}

.good-block__prev__btn--up {
  background-position: -365px -223px;
}

.good-block__prev__manuf {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 22px;
}

.good-block__info {
  width: 41.77%;
  padding: 0 0 0 45px;
  *zoom: 1;
}
.good-block__info:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.good-block__info .social-icons {
  margin-bottom: 28px;
}
.good-block__info .social-icon a {
  background: #dfe1e3 url("../img/sprite.png") no-repeat;
  background-position: -187px -223px;
}
.good-block__info .social-icon a:hover {
  background-color: #b6bbbf;
}
.good-block__info .social-icon--vk a {
  background-position: -218px -223px;
}
.good-block__info .social-icon--tw a {
  background-position: -249px -223px;
}
.good-block__info .social-icon--pr a {
  background-position: -280px -223px;
}
.good-block__info .good__btn {
  font-size: 19px;
  padding: 6px 19px 7px 20px;
  margin-right: 0;
  margin-left: 16px;
}
.good-block__info .good__price {
  font-size: 30px;
  margin-left: 3px;
  margin-top: 10px;
  float: none;
}

.good-block__title {
  color: #656565;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 14px;
}

.good-block__manufacturer,
.good-block__category {
  padding-left: 2px;
  color: #878787;
  line-height: 19px;
  font-size: 15px;
}
.good-block__manufacturer b,
.good-block__category b {
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
}

.good-block__category {
  margin-bottom: 15px;
}

.good-block__description-title {
  margin: 23px 0 7px 0;
}

.good-block__where-buy-title,
.good-block__description-title {
  font-size: 18px;
  font-weight: 600;
  color: #878787;
  margin-left: 3px;
}

.good-block__description {
  color: #3e3e3e;
  line-height: 24px;
  font-size: 15px;
  margin-left: 4px;
  margin-bottom: 29px;
}

.good-block__where-buy-title {
  margin-bottom: 14px;
}

.good-block__where-buy-list li {
  font-size: 15px;
  color: #213340;
  margin-bottom: 5px;
}
.good-block__where-buy-list li:before {
  content: '';
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  width: 10px;
  height: 7px;
  background-position: -311px -224px;
  margin-left: 5px;
  margin-right: 11px;
}

.good-block__other-goods {
  margin-bottom: 57px;
}

.good-block__other-goods__title {
  font-size: 21px;
  color: #656565;
  margin-bottom: 27px;
}

.good-block__other-goods__list {
  *zoom: 1;
}
.good-block__other-goods__list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.good-block__other-goods__list .good-block__other-goods__list__item {
  float: left;
}
.good-block__other-goods__list .good-block__other-goods__list__item--1 {
  padding-right: 46px;
  width: 14.55%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--2 {
  padding-right: 59px;
  width: 15.5782%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--3 {
  padding-right: 46px;
  width: 14.7128%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--4 {
  padding-right: 48px;
  width: 14.7128%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--5 {
  padding-right: 49px;
  width: 14.7915%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--6 {
  padding-right: 48px;
  width: 14.7128%;
}
.good-block__other-goods__list .good-block__other-goods__list__item--7 {
  width: 10.9362%;
}
.good-block__other-goods__list a {
  display: inline-block;
  font-size: 14px;
  color: #656565;
  text-decoration: none;
  line-height: 16px;
}
.good-block__other-goods__list img {
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
}

.site-footer {
  background: #435158;
  color: #ffffff;
  font-size: 12.03px;
  padding: 43px 0 64px 0;
}
.site-footer h3 {
  color: #90a4ae;
  font-size: 15.27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.site-footer a {
  text-decoration: none;
  color: #ffffff;
}
.site-footer a:hover {
  text-decoration: underline;
}

.site-footer__cell {
  float: left;
  height: 100%;
}

.site-footer__cell--1 {
  width: 21%;
  padding-left: 50px;
}

.site-footer__cell--2 {
  width: 19%;
}

.site-footer__cell--3 {
  width: 21%;
}

.site-footer__cell--4 {
  width: 39%;
}

.site-footer__about-us {
  margin-bottom: 46px;
}
.site-footer__about-us li {
  padding-bottom: 2px;
  padding-left: 1px;
}

.site-footer__contacts {
  margin-bottom: 24px;
}

.social-icons {
  padding-top: 7px;
  padding-left: 3px;
  display: inline-block;
  *zoom: 1;
}
.social-icons:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.social-icon {
  float: left;
  margin-right: 10px;
}
.social-icon a {
  display: block;
  background: #94aab6 url("../img/sprite.png") no-repeat;
  width: 31px;
  height: 31px;
  background-position: -63px -223px;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.social-icon a:hover {
  background-color: #678697;
}
.social-icon--vk a {
  background-position: -94px -223px;
}
.social-icon--tw a {
  background-position: -125px -223px;
}
.social-icon--pr a {
  background-position: -156px -223px;
}

.site-footer__copyright p {
  line-height: 16px;
}

.site-footer__to-manufacturers li,
.site-footer__to-users li {
  margin-bottom: 2px;
  padding-left: 1px;
}

.site-footer__to-users li {
  padding-right: 50%;
}

.site-footer__news {
  margin-bottom: 41px;
}
.site-footer__news h3 {
  margin-bottom: 15px;
}
.site-footer__news li {
  margin-bottom: 1px;
}

.site-footer__subscribe p {
  font-size: 12.52px;
  line-height: 18px;
}
.site-footer__subscribe p:first-child {
  text-transform: uppercase;
}
.site-footer__subscribe input[type="email"] {
  margin-top: 17px;
  border: none;
  background: #ffffff;
  color: #435158;
  padding: 10px 13px;
  width: 246px;
}
.site-footer__subscribe input[type="submit"] {
  margin-left: 6.3%;
  font-size: 15.1px;
  padding: 9px 14px;
  color: #ffffff;
  border: none;
  background: #f4511e;
  cursor: pointer;
}

.ie8 .catalogue-search__search-block {
  bottom: 0;
  top: 282px;
}
.ie8 .blog-page .catalogue-search__search-block, .ie8 .goods-page .catalogue-search__search-block {
  bottom: 0;
  top: 72px;
}
.ie8 .catalogue-search__search-block__title {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#14000000', endColorstr='#14000000');
}

.content{
    width: 50%;
    font-size: 20px;
    margin: 20px auto;
}

.content ol{
    list-style: decimal;
}

.content li{
    list-style: circle;
}

@media (max-width: 1024px) {
  .site-logo {
    font-size: 20px;
    line-height: 25px;
    margin-top: 8px;
    margin-left: 6px;
  }
  .site-logo__ua {
    margin-right: 12px;
    font-size: 22px;
  }
}
@media (max-width: 610px) {
  .site-logo .site-logo__cat {
    display: none;
  }
}

@media (max-width: 1024px) {
  .catalogue-menu__btn {
    margin-left: 3px;
    width: 30px;
    height: 42px;
    padding-top: 10px;
    padding-left: 8px;
  }
}

@media (max-width: 1024px) {
  .lang-switcher {
    padding-top: 13px;
  }
}

@media (max-width: 1024px) {
  .user-profile-links {
    margin-right: 15px;
    margin-top: 8px;
  }
}
@media (max-width: 610px) {
  .user-profile-links a span {
    display: none;
  }
}

@media (max-width: 610px) {
  .user-profile-links__item {
    margin-left: 20px;
  }
}

@media (max-width: 610px) {
  .icon--user-profile {
    display: block;
  }
}

@media (max-width: 610px) {
  .icon--user-collection {
    display: block;
  }
}

@media (max-width: 1150px) {
  .primary-nav {
    margin-left: 8%;
  }
}
@media (max-width: 1024px) {
  .primary-nav {
    display: none;
    margin-left: 0;
    padding-top: 0;
    position: absolute;
    top: 42px;
    z-index: 9999;
    background: #ffffff;
    border-top: 1px solid #eceff1;
    width: 100%;
  }
  .primary-nav.active {
    display: block;
  }
}

@media (max-width: 1024px) {
  .primary-nav__list__item {
    float: none;
    margin-left: 0;
  }
  .primary-nav__list__item:last-child {
    margin-left: 0;
  }
  .primary-nav__list__item a {
    display: block;
    padding: 10px 5px;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .primary-nav__list__item a:hover {
    background: #eceff1;
    text-decoration: none;
  }
}

@media (max-width: 1024px) {
  .mobile-menu-btn {
    display: block;
    margin-left: 10px;
  }
}

@media (max-width: 610px) {
  .catalogue-menu__list {
    left: 0;
    top: 42px;
    width: 100%;
    padding: 0;
  }
  .catalogue-menu__list a {
    font-size: 16px;
    padding: 10px 20px;
  }
  .catalogue-menu__list a:after {
    display: none;
  }
}

@media (max-width: 610px) {
  .catalogue-menu__list__sub-one {
    position: static;
    width: 100%;
    padding: 0;
  }
  .catalogue-menu__list__sub-one a {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 610px) {
  .catalogue-menu__list__sub-two {
    position: static;
    width: 100%;
    padding: 0;
  }
  .catalogue-menu__list__sub-two a {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media (max-width: 610px) {
  .catalogue-menu__list__item > a:after,
  .catalogue-menu__list__sub-one__item > a:after {
    display: none;
    background: transparent;
  }
}

@media (max-width: 560px) {
  .catalogue-search__search-block {
    bottom: 60px;
    width: 382px;
  }
}
@media (max-width: 320px) {
  .catalogue-search__search-block {
    bottom: 20px;
    width: 320px;
  }
}

@media (max-width: 560px) {
  .catalogue-search__search-block__title {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .catalogue-search__search-block__title {
    font-size: 16px;
    line-height: 18px;
    height: 36px;
  }
}

@media (max-width: 560px) {
  .catalogue-search__slider__controls {
    bottom: 10px;
  }
}
@media (max-width: 320px) {
  .catalogue-search__slider__controls {
    bottom: 0px;
  }
}

@media (max-width: 560px) {
  .catalogue-search__search-block__form input[type="text"] {
    width: 340px;
  }
}
@media (max-width: 320px) {
  .catalogue-search__search-block__form input[type="text"] {
    width: 278px;
  }
}

@media (max-width: 920px) {
  .categories {
    margin-bottom: 25px;
  }
}

@media (max-width: 920px) {
  .categories__description {
    padding-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1050px) {
  .categories__row {
    margin-bottom: 0;
  }
}

@media (max-width: 1050px) {
  .categories__tabs-btns .categories__tabs-btn {
    width: 50%;
    margin-left: 0;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 535px) {
  .categories__tabs-btns .categories__tabs-btn {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .categories__tabs-btns .categories__tabs-btn a span {
    right: 25px;
  }
}
@media (max-width: 1130px) {
  .categories__tabs-btns .categories__tabs-btn a span {
    right: 5px;
  }
}
@media (max-width: 535px) {
  .categories__tabs-btns .categories__tabs-btn a span {
    right: 30px;
  }
}

@media (max-width: 946px) {
  .categories__tab .tab-cell {
    width: 100%;
    margin: 0;
    padding: 15px 0 0 15px;
  }
  .categories__tab .tab-cell:first-child {
    padding: 15px 0 0 15px;
  }
}
@media (max-width: 946px) {
  .categories__tab .tab-cell.tab-cell--part-one .dropbox:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 946px) {
  .categories__tab .tab-cell.tab-cell--part-two {
    padding-top: 0;
  }
  .categories__tab .tab-cell.tab-cell--part-two .dropbox:first-child {
    margin-top: 0;
  }
}
@media (max-width: 946px) {
  .categories__tab .dropbox ul {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 920px) {
  .goods {
    margin-bottom: 30px;
  }
}

@media (max-width: 1052px) {
  .goods__wrapper {
    width: 50%;
    text-align: center;
    margin-bottom: 5px;
  }
}
@media (max-width: 528px) {
  .goods__wrapper {
    width: 100%;
  }
}
@media (max-width: 1052px) {
  .goods__wrapper--right .good__card {
    float: none;
  }
}

@media (max-width: 1052px) {
  .good__card--margin {
    margin: 0;
  }
}

@media (max-width: 1052px) {
  .goods__title {
    width: 100%;
    float: none;
    padding-left: 8px;
  }
}

@media (max-width: 1052px) {
  .goods__header {
    text-align: center;
  }
}

@media (max-width: 1052px) {
  .goods__sort-options__wrapper {
    float: none;
    margin-bottom: 5px;
  }
}

@media (max-width: 1052px) {
  .goods__sort-options {
    padding: 8px;
  }
}

@media (max-width: 1052px) {
  .goods__sort-options__option {
    margin-right: 0;
  }
}

@media (max-width: 1052px) {
  .goods__settings {
    padding: 35px 0 35px 15px;
  }
}
@media (max-width: 920px) {
  .goods__settings {
    padding: 0 0 10px 15px;
  }
}
@media (max-width: 920px) {
  .goods__settings .dropbox li {
    float: left;
    margin-right: 10px;
  }
}
@media (max-width: 920px) {
  .goods__settings .dropbox {
    margin-bottom: 10px;
    margin-top: 0;
  }
}
@media (max-width: 920px) {
  .goods__settings .dropbox:first-child {
    margin-top: 5px;
  }
}

@media (max-width: 920px) {
  .goods__settings,
  .goods__catalogue {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .goods__catalogue {
    text-align: center;
  }
}

@media (max-width: 920px) {
  .price-range {
    margin-bottom: 0;
  }
}

@media (max-width: 920px) {
  .goods__catalogue__breadcrumbs {
    padding-left: 20px;
  }
}

@media (max-width: 920px) {
  .goods__pagination {
    display: inline-block;
  }
}
@media (max-width: 470px) {
  .goods__pagination li.page {
    display: none;
  }
}
@media (max-width: 470px) {
  .goods__pagination li.page:nth-child(3),
  .goods__pagination li.page:nth-child(4),
  .goods__pagination li.page:nth-child(5),
  .goods__pagination li.page:nth-child(10),
  .goods__pagination li.page:nth-child(11) {
    display: block;
  }
}

@media (max-width: 1210px) {
  .testimonials__slider {
    padding: 117px 60px 34px 60px;
  }
}
@media (max-width: 1024px) {
  .testimonials__slider {
    padding: 60px 60px 20px 60px;
  }
}
@media (max-width: 767px) {
  .testimonials__slider {
    padding: 60px 30px 20px 30px;
  }
}
@media (max-width: 528px) {
  .testimonials__slider {
    padding: 60px 15px 20px 15px;
  }
}

@media (max-width: 920px) {
  .testimonials__slider__slide .photo {
    text-align: center;
  }
}
@media (max-width: 920px) {
  .testimonials__slider__slide .photo img {
    width: 165px;
  }
}
@media (max-width: 920px) {
  .testimonials__slider__slide .photo {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .testimonials__slider__slide .text {
    padding-left: 10px;
  }
}
@media (max-width: 920px) {
  .testimonials__slider__slide .text {
    width: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 920px) {
  .testimonials__slider__slide .text .title,
  .testimonials__slider__slide .text .name {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .testimonials__slider__controls {
    margin-top: 20px;
  }
}

@media (max-width: 528px) {
  .testimonials__slider__button {
    display: none;
  }
}

@media (max-width: 1170px) {
  .manufacturers__title {
    padding-top: 30px;
    margin-bottom: 25px;
  }
}
@media (max-width: 800px) {
  .manufacturers__title {
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .manufacturers__logos__list {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media (max-width: 1170px) {
  .manufacturers__logos__list .emttonmodern,
  .manufacturers__logos__list .nenka,
  .manufacturers__logos__list .raslov,
  .manufacturers__logos__list .sem,
  .manufacturers__logos__list .tago,
  .manufacturers__logos__list .koroli {
    width: 33.333333%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .manufacturers__logos__list .emttonmodern,
  .manufacturers__logos__list .nenka,
  .manufacturers__logos__list .raslov,
  .manufacturers__logos__list .sem,
  .manufacturers__logos__list .tago,
  .manufacturers__logos__list .koroli {
    width: 50%;
    text-align: center;
    margin-top: 5px;
  }
}
@media (max-width: 528px) {
  .manufacturers__logos__list .emttonmodern,
  .manufacturers__logos__list .nenka,
  .manufacturers__logos__list .raslov,
  .manufacturers__logos__list .sem,
  .manufacturers__logos__list .tago,
  .manufacturers__logos__list .koroli {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
}

@media (max-width: 528px) {
  .site-footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1170px) {
  .site-footer__cell--1 {
    padding-left: 5px;
  }
}

@media (max-width: 320px) {
  .site-footer__subscribe {
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .site-footer__subscribe input[type="email"] {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .site-footer__subscribe input[type="submit"] {
    margin-left: 3px;
  }
}
@media (max-width: 320px) {
  .site-footer__subscribe input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 967px) {
  .site-footer__cell--1,
  .site-footer__cell--2,
  .site-footer__cell--3 {
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 528px) {
  .site-footer__cell--1,
  .site-footer__cell--2,
  .site-footer__cell--3 {
    width: 100%;
  }
}

@media (max-width: 967px) {
  .site-footer__cell--1 {
    padding-bottom: 23px;
  }
}

@media (max-width: 967px) {
  .site-footer__cell--2 {
    padding-bottom: 23px;
  }
}
@media (max-width: 528px) {
  .site-footer__cell--2 {
    padding-bottom: 0;
  }
}

@media (max-width: 967px) {
  .site-footer__cell--4 {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 967px) {
  .site-footer__to-users li {
    padding-right: 0;
  }
}

@media (max-width: 528px) {
  .site-footer__about-us {
    margin-bottom: 20px;
  }
}

@media (max-width: 528px) {
  .site-footer__to-manufacturers,
  .site-footer__to-users {
    margin-bottom: 20px;
  }
}
